{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur notre magasin de filtres d'eau</h1>
    <p class="lead">Découvrez notre large gamme de filtres d'eau et d'accessoires.</p>
    <hr class="my-4">
    <p>Visitez nos catégories de produits et trouvez ce dont vous avez besoin.</p>
  </div>
  <div class="row">
    {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description[:100] }}...</p>
            <p class="card-text"><strong>Prix :</strong> {{ product.price }} €</p>
            <a href="{{ url_for('product', product_id=product.id) }}" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
